<?xml version="1.0" encoding="UTF-8" standalone="no"?><events>
    <event>
        <eventId>1</eventId>
        <name>Event de test</name>
        <description>Description for an test event</description>
        <status>1</status>
        <users>
            <userId>1</userId>
            <userId>2</userId>
        </users>
        <dates>
            <date>01.01.2017</date>
            <date>02.01.2017</date>
        </dates>
    </event>

    <event>
        <eventId>2</eventId>
        <name>Event de test2</name>
        <description>Description for an test2 event</description>
        <status>0</status>
        <users>
            <userId>1</userId>
        </users>
        <dates>
            <date>11.01.2017</date>
            <date>12.01.2017</date>
        </dates>
    </event>
<event><eventId>10</eventId><name>Event name 10</name><description>This is another test event</description><status>1</status><users><usersId>1</usersId><usersId>2</usersId></users><dates><date>01.01.2017</date><date>02.01.2017</date><date>03.01.2017</date><date>04.01.2017</date></dates></event><event><eventId>10</eventId><name>Event Ilie</name><description>Primul eveniment creat din formular</description><status>1</status><users><usersId>1</usersId><usersId>2</usersId><usersId>6</usersId></users><dates><date>2017-06-01</date><date>2017-06-02</date><date>2017-06-03</date><date>2017-06-04</date></dates></event></events>