<md-dialog-content class="md-dialog-content">
    <md-content>
        <div>
            <md-tabs md-dynamic-height="true">
                <md-tab label="Requester"> Selected Day:
                </md-tab>
                <md-tab label="Results">
                    Test tab
                </md-tab>
                <md-tab label="Controller">
                    Test tab
                </md-tab>
                <md-tab label="Details">
                    Test tab {{inputType}}
                </md-tab>
                <md-tab></md-tab>
            </md-tabs>
        </div>
    </md-content>
</md-dialog-content>