<md-dialog-content class="md-dialog-content">
    <md-content>
        <div>
            <md-tabs md-dynamic-height="true">
                <md-tab label="Requester"> Selected Day:
                    {{selectedDay.date._d}}
                </md-tab>
                <md-tab label="Results">
                    Test tab
                    <div ng-controller="startController">1) The Result is: {{results}}</div>

                </md-tab>
                <md-tab label="Controller">
                    Test tab
                </md-tab>
                <md-tab label="Details">
                    Test tab
                </md-tab>
                <md-tab></md-tab>
            </md-tabs>
        </div>
    </md-content>
</md-dialog-content>