<md-dialog-content class="md-dialog-content">
    <md-content>
        <div>
            <md-tabs md-dynamic-height="true">
                <md-tab label="Requester">
                    {{testFirstTab}}
                    Test
                </md-tab>
                <md-tab label="Manager">
                    Test tab
                </md-tab>
                <md-tab label="Controller">
                    Test tab
                </md-tab>
                <md-tab label="Details">
                    Testtab
                </md-tab>
                <md-tab></md-tab>
            </md-tabs>
        </div>
    </md-content>
</md-dialog-content>