<link rel="stylesheet" type="text/css" href="styles/ui.css">
<div id="content" ng-controller="popupController">
    <div id="left">
        <div class="ball_wrap">
            <div class="blue_ball" ng-click="click()">nr 1</div>
            <div class="green_ball" ng-click="click()">nr 2</div>
            <div class="green_ball" ng-click="click()">nr 3</div>
            <div class="green_ball" ng-click="click()">nr 4</div>
            <div class="green_ball" ng-click="click()">nr 5</div>
        </div>
    </div>

    <div id="right">
        <div ng-show="showPopup" ng-include="'views/corolaCirclePopup.html'"></div>
    </div>
</div>
